.servic {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 26px;
    
    @include tablet {
        grid-template-columns: 1fr;
    }

    &__item {
        display: block;
        background: var(--services-bg);
        border-radius: 8px;
        padding: 32px;
    }

    &__desc {
        color: var(--c-text-white);
        font-family: var(--ff);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        margin-bottom: 28px;
    }

    &__info {
        display: flex;
        gap: 20px;
    }

    &__title {
        color: var(--c-text-white);
        font-family: var(--ff);
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
        margin-bottom: 4px;
    }

    &__name {
        color: var(--c-primary);
        font-family: var(--ff);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
    }
}